/*generelle indstillinger*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: white;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

/*heading, p og a-indstillinger*/
.heading {
    font-family: 'Source Code Pro', monospace;
    color: black;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 100px;
    text-decoration: underline;
    text-decoration-color: #8AAECC;
    text-align: center;
}

a {
    text-decoration: none;
    color: #000;
    font-family: 'Source Code Pro', monospace;
    font-size: 1rem;

}

.col a {
    font-family: 'Source Code Pro', monospace;
    font-size: 0.8rem;
    color: black;
    margin-left: 40px;
    text-decoration: underline;
    text-decoration-color: orange;
    margin-bottom: 20px;
}

.col a:hover {
    text-decoration: overline;
    text-decoration-color: orange;
}

h2 {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.5rem;
    color: black;
    margin-left: 40px;
    text-decoration: underline;
    text-decoration-color: orange;
}

h3 {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.0rem;
    color: black;
    margin-left: 40px;
}

h4 {
    font-family: 'Source Code Pro', monospace;
    font-size: 0.9rem;
    color: grey;
    margin-left: 40px;
    text-decoration: overline;
    text-decoration-color: #3E7098;
}

h6 {
    font-family: 'Source Code Pro', monospace;
    font-size: 2rem;
    color: whitesmoke;
    margin-left: 40px;
    text-decoration: underline;
    margin-bottom: 20px;
}

h6:hover {
    text-decoration: overline;
    text-decoration-color: orange;
}

p {
    font-family: 'Source Code Pro', monospace;
    font-size: 0.9rem;
    color: #134B7C;
    margin-left: 40px;
    margin-right: 10px;
    line-height: 1.6;

}

/* header */
#menu {
    background-color: #fff;
    z-index: 3;
    float: right;

}

#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #fff;
}

#menu li a {
    display: block;
    padding: 12px 20px;
}

#menu li a:hover {
    color: white;
    background-color: #134B7C;
}

.hidden {
    /*    display: none;*/
    /*    transform: scale(0);*/
    transform: translateX(-100%);
    opacity: 0;
}

#menuknap {
    display: inline-block;
}

#menu {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top left;
}

@media only screen and (min-width: 600px) {
    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
        max-height: 10vw;
    }
}


/*index.html*/
#frontpage {
    display: flex;
    flex-wrap: wrap;
}

/*info.html*/
#info .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 56.25vw;
}

#info .col_info {
    flex-basis: 500px;
    flex-grow: 1;
    column-width: 500px;
    margin-right: 20px;
}

#info .col_info1 {
    flex-basis: 400px;
    flex-grow: 1;
}

/*portefølje.html*/
#portfolio .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 56.25vw;
}

#portfolio .col_1,
#portfolio .col_2,
#portfolio .col_3,
#portfolio .col_4 {
    flex-grow: 1;
    flex-basis: 100px;
}

#portfolio .col_1 {
    background-color: #8AAECC;
}

#portfolio .col_2 {
    background-color: #76A1C4;
}

#portfolio .col_3 {
    background-color: #568AB4;
}

#portfolio .col_4 {
    background-color: #3E7098;
}

#portfolio p {
    text-align: left;
    margin-right: 60px;
}

/*portfolio-emner*/
#web .sectionwrapper,
#content .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}


#ux .sectionwrapper,
#animation .sectionwrapper,
#animation_1 .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}


#ux .col,
#content .col,
#animation_1 .col,
#animation .col,
#web .col {
    flex-basis: 500px;
    flex-grow: 1;
    margin-right: 20px;

}


#ux .col_narrow,
#animation .col_narrow,
#animation_1 .col_narrow,
#web .col_narrow,
#content .col_narrow {
    flex-basis: 500px;
    flex-grow: 1;
}

/*js.knap*/
#on {
    float: right;
    border: none;
}

#off {
    float: right;
    margin-right: 38px;
    border: none;
}

i {
    border: solid orange;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    margin-bottom: 8px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-right: 10px;

}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

/********************** effekter *************/
.hide {
    visibility: hidden;
}

.bouncy {
    animation: bouncy 5s infinite linear;
    position: relative;
}

@keyframes bouncy {
    0% {
        top: 0em
    }

    40% {
        top: 0em
    }

    43% {
        top: -0.9em
    }

    46% {
        top: 0em
    }

    48% {
        top: -0.4em
    }

    50% {
        top: 0em
    }

    100% {
        top: 0em;
    }
}

.fade_in_1 {
    animation-name: fade_in_kf;
    animation-duration: 2s;
}

@keyframes fade_in_kf {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade_in_2 {
    animation-name: fade_in_kf;
    animation-duration: 4s;
}

@keyframes fade_in_kf {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade_in_3 {
    animation-name: fade_in_kf;
    animation-duration: 6s;
}

@keyframes fade_in_kf {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade_in_4 {
    animation-name: fade_in_kf;
    animation-duration: 8s;
}

@keyframes fade_in_kf {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*media q*/

@media only screen and (min-width: 966px) {
    div.heading {
        font-size: 5.5rem;
    }
}

@media only screen and (max-width: 965px) {
    div.heading {
        font-size: 3em;
    }
}

@media only screen and (max-width: 940px) {

    #portfolio .col_1,
    #portfolio .col_2,
    #portfolio .col_3,
    #portfolio .col_4 {
        flex-grow: 1;
        flex-basis: 300px;
        float: left;
    }
}

@media screen and (max-width: 1150px) {
    #portfolio .sectionwrapper {
        width: 100vw;
        height: auto;
    }
}
